@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Nunito:wght@200..1000&family=Quicksand:wght@300..700&family=Rubik+Bubbles&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.web-title {
  @apply text-[2.5rem] m-[10px_5px] p-[5px] flex justify-center items-center relative !text-[antiquewhite] font-normal font-henny;
}

.footer {
  @apply fixed bottom-0 left-0 right-0 flex justify-center items-center w-full pb-4 font-Quicksand;
}

.footer-effect {
  position: relative;
  font-weight: 600;
  color: white;
  padding: 0.25rem 0;
}

.footer-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 0.25rem;
  background: linear-gradient(to right, #3498db, #2980b9);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.footer-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}